---
import Layout from "../layouts/StandardPage.astro";
---

<Layout title="Artikel" description="Einige Berichte über das Projekt.">
  <p>Einige Berichte über das Projekt.</p>
  <ul class="mt-4">
    <li class="ml-3 leading-8">
      <a
        href={`${import.meta.env.BASE_URL}articles/030419.jpg`}
        target="_blank"
        rel="noopener noreferrer"
        >"Ein «Musikfenster» für die Palliativstation Zofingen", Zofinger
        Tagblatt, 3. April 2019</a
      >
    </li>
    <li class="ml-3 leading-8">
      <a
        href="https://www.e-journal.ch/region/lauschen-hinter-dem-vorhang/"
        target="_blank"
        rel="noopener noreferrer"
        >Lauschen hinter dem Vorhang, 13. Dezember 2018</a
      >
    </li>
    <li class="ml-3 leading-8">
      <a
        href="https://www.e-journal.ch/region/toene-die-zum-lauschen-anregen/"
        target="_blank"
        rel="noopener noreferrer"
        >Töne, die zum Lauschen anregen, 22. April 2017
      </a>
    </li>
    <li class="ml-3 leading-8">
      <a
        href="https://www.spitalseelsorge.ch/media/archive1/palliative_care/berichte/auch-eine-tonart-von-spiritual-care-2016-karin-klemm-2.pdf"
        target="_blank"
        rel="noopener noreferrer"
        >Auch eine Tonart von Spiritual Care, 3. Januar 2017
      </a>
    </li>
    <li class="ml-3 leading-8">
      <a
        href="https://www.srk-aargau.ch/aargauer-rotkreuzpreis-fuer-musikalisches-fenster"
        target="_blank"
        rel="noopener noreferrer"
        >Aargauer Rotkreuzpreis für „Musikalisches Fenster“</a
      >
    </li>
  </ul>
</Layout>

<style>
  a::before {
    content: "- ";
  }
</style>
