---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-primary-gray flex flex-col min-h-screen">
    <Header title={SITE_TITLE} />
    <main class="flex-1 p-5">
      <img
        class="mx-auto md:mt-32 mb-3 w-full max-w-xl"
        src="/divider.svg"
        class="divider"
      />
      <h1
        class="text-white text-2xl mb-5 leading-10 max-w-5xl mx-auto font-semibold"
      >
        Das Musikalische Fenster ist ein Ge&shy;schenk an schwer&shy;kranke
        Men&shy;schen und ihre Angehörigen.
      </h1>
      <h1
        class="text-white text-2xl mb-5 leading-10 max-w-5xl mx-auto font-semibold"
      >
        Auf der Palli&shy;a&shy;tiv&shy;station, in Pflegeheimen und ähnlichen
        Orten wird kost&shy;ba&shy;re Musik für Men&shy;schen in schwe&shy;ren
        Zei&shy;ten und Stunden gespielt.
      </h1>
      <h1
        class="text-white text-2xl mb-5 leading-10 max-w-5xl mx-auto font-semibold"
      >
        Unser Verein setzt sich für die Unter&shy;stützung und
        Ver&shy;brei&shy;tung der Idee und für die Um&shy;setz&shy;ung
        kon&shy;kre&shy;ter Kon&shy;zerte in
        Gesund&shy;heits&shy;in&shy;sti&shy;tutionen ein. Über Ihr
        Inte&shy;resse und Ihre Un&shy;ter&shy;stüt&shy;zung würden wir uns
        freuen.
      </h1>
    </main>
    <Footer />
  </body>
</html>
