---
import People from "../components/People.svelte";
import Layout from "../layouts/StandardPage.astro";
---

<Layout title="Kontakt" description="Mitglieder vom Musikalischen Fenster.">
  <People />
  <h1 class="text-3xl font-bold text-stone-700 my-3">
    Spenden / Mitgliedschaft / Konto
  </h1>
  <p>
    Die Spendengelder werden vollumfänglich dafür eingesetzt, Menschen auf
    Palliativstationen ein kostbares musikalisches Geschenk zu machen und können
    bei der Steuererklärung angegeben werden.
  </p>
  <p>
    Gerne können Sie auch Mitglied des Vereines werden. Sie unterstützen uns
    damit ideell, erhalten regelmässig Informationen über Konzerte und werden
    einmal pro Jahr zur GV samt vorgängigem Kurzkonzert und Apéro eingeladen.
    Der Mitgliederbeitrag beträgt Fr. 50.- pro Jahr. Wenn Sie Mitglied werden
    möchten, schreiben Sie ein Mail an unsere Präsidentin: <a
      href="email:imfluss@karinklemm.ch">imfluss@karinklemm.ch</a
    >
  </p>
  <pre
    class="m-0 mt-5 p-0">
Musikalisches Fenster
Raiffeisenbank, 5436 Würenlos
IBAN: CH67 8080 8002 9187 7439 1
PC-Konto: 50-2919-5
	</pre>
</Layout>
