---
import Layout from "../layouts/StandardPage.astro";

const people = [
  {
    name: "Karin Klemm",
    role: "Hospizseelsorgerin",
    position: "Präsidentin",
    phone: "056 470 35 12",
    mail: "imfluss@karinklemm.ch",
    picture: "karin.jpg",
  },
  {
    name: "Stefan Müller",
    position: "Musiker",
    phone: "076 388 36 63",
    mail: "stefanmuellerclavier@gmail.com",
    picture: "stefan.jpg",
  },
  {
    name: "Martin Pirktl",
    position: "Musiker",
    phone: "079 321 18 63",
    mail: "pirktl@bluewin.ch",
    picture: "martin.jpg",
  },
  {
    name: "Daniela Mustone",
    position: "Krebsliga Aargau ",
    phone: "079 716 42 87",
    mail: "dani.mustone@gmail.com",
    picture: "daniela.jpg",
  },
  {
    name: "Peter Wendel",
    position: "Kassier",
    phone: "079 277 29 06",
    mail: "p.th.wendel@outlook.com",
    picture: "peter.jpg",
  },
];
---

<Layout title="Kontakt" description="Mitglieder vom Musikalischen Fenster.">
  <div class="grid grid-cols-1 lg:grid-cols-2 mb-10 gap-4">
    <section class="flex flex-row justify-start">
      <div class="relative overflow-hidden h-52 w-44 mr-3 shadow-lg">
        <img
          class="absolute h-full w-full min-w-[176px] object-cover rounded-sm"
          src="/karin.jpg"
          alt="Karin Klemm"
        />
      </div>
      <div>
        <h1 class="text-2xl">Karin Klemm</h1>
        <p class="mb-2">Präsidentin, Hospizseelsorgerin</p>
        <a class="block" href="tel:056 470 35 12">056 470 35 12</a>
        <a class="block" href="mailto:imfluss@karinklemm.ch"
          >imfluss@karinklemm.ch</a
        >
      </div>
    </section>
    <section class="flex flex-row justify-start">
      <div class="relative overflow-hidden h-52 w-44 mr-3 shadow-lg">
        <img
          class="absolute h-full w-full min-w-[176px] object-cover rounded-sm"
          src="/stefan.jpg"
          alt="Stefan Müller"
        />
      </div>
      <div class="">
        <h1 class="text-2xl">Stefan Müller</h1>
        <p class="mb-2">Musiker</p>
        <a class="block" href="tel:076 388 36 63">076 388 36 63</a>
        <a class="block" href="mailto:stefanmuellerclavier@gmail.com"
          >stefanmuellerclavier@gmail.com</a
        >
      </div>
    </section>
    <section class="flex flex-row justify-start">
      <div class="relative overflow-hidden h-52 w-44 mr-3 shadow-lg">
        <img
          class="absolute h-full w-full min-w-[176px] object-cover rounded-sm bottom-0 object-top"
          src="/martin.jpg"
          alt="Martin Pirktl"
        />
      </div>
      <div>
        <h1 class="text-2xl">Martin Pirktl</h1>
        <p class="mb-2">Musiker</p>
        <a class="block" href="tel:079 321 18 63">079 321 18 63</a>
        <a class="block" href="mailto:pirktl@bluewin.ch">pirktl@bluewin.ch</a>
      </div>
    </section>
    <section class="flex flex-row justify-start">
      <div class="relative overflow-hidden h-52 w-44 mr-3 shadow-lg">
        <img
          class="absolute h-full w-full min-w-[176px] object-cover rounded-sm bottom-0 object-top"
          src="/daniela.jpg"
          alt="Daniela Mustone"
        />
      </div>
      <div>
        <h1 class="text-2xl">Daniela Mustone</h1>
        <p class="mb-2">Krebsliga Aargau</p>
        <a class="block" href="tel:079 716 42 87">079 716 42 87</a>
        <a class="block" href="mailto:dani.mustone@gmail.com"
          >dani.mustone@gmail.com
        </a>
      </div>
    </section>
    <section class="flex flex-row justify-start">
      <div class="relative overflow-hidden h-52 w-44 mr-3 shadow-lg">
        <img
          class="absolute h-full w-full min-w-[176px] object-cover rounded-sm bottom-0 object-top"
          src="/peter.jpg"
          alt="Peter Wendel"
        />
      </div>
      <div>
        <h1 class="text-2xl">Peter Wendel</h1>
        <p class="mb-2">Kassier</p>
        <a class="block" href="tel:079 277 29 06">079 277 29 06</a>
        <a class="block" href="mailto:p.th.wendel@outlook.com"
          >p.th.wendel@outlook.com
        </a>
      </div>
    </section>
  </div>

  <h1 class="text-2xl font-bold text-stone-800 my-3">Konto</h1>
  <p>
    Die Spendengelder werden vollumfänglich dafür eingesetzt, Menschen auf
    Palliativstationen ein kostbares musikalisches Geschenk zu machen und können
    bei der Steuererklärung angegeben werden.
  </p>
  <pre
    class="m-0 mt-5 p-0">
Musikalisches Fenster
Raiffeisenbank, 5436 Würenlos
IBAN: CH67 8080 8002 9187 7439 1
PC-Konto: 50-2919-5
	</pre>
</Layout>
