---
const today = new Date();
---

<footer class="bg-primary-gray text-center p-3 shadow-2xl leading-10">
  <p>&copy; Musikalisches Fenster 2018 - {today.getFullYear()}</p>
  <p class="text-stone-400">
    Website by <a
      class="text-stone-400 font-semibold"
      href="https://ti-m.ch"
      target="_blank">Tim</a
    >.
  </p>
</footer>
