---
const today = new Date();
---

<footer class="bg-primary-gray text-center p-3 leading-10 z-20">
  <p>&copy; Musikalisches Fenster 2018 – {today.getFullYear()}</p>
  <p class="text-stone-400">
    Webseite von <a
      class="text-stone-400"
      href="https://ti-m.ch"
      target="_blank">Tim</a
    >.
  </p>
</footer>
