---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title, description } = Astro.props;
---

<html lang="de">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>

  <body
    class="bg-primary-gray flex flex-col min-h-screen"
    style={`background-image: linear-gradient(45deg, rgba(50, 159, 255, 0.6), rgba(50, 180, 255, 0.9)), url('${
      import.meta.env.BASE_URL
    }background.jpg');`}
  >
    <Header />
    <main class="flex-1">
      <article
        class="w-full max-w-5xl bg-primary-gray mx-auto my-10 p-5 rounded-sm shadow-2xl"
      >
        <h1 class="text-4xl font-bold mb-4 text-stone-700">{title}</h1>
        <slot />
      </article>
    </main>
    <Footer />
  </body>
</html>
