---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title, description } = Astro.props;
---

<html lang="de">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      .title {
        font-size: 2em;
        margin: 0.25em 0 0;
      }
      hr {
        border-top: 1px solid #ddd;
        margin: 1rem 0;
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>

  <body class="bg-primary-gray flex flex-col sm:min-h-screen image">
    <div class="content">
      <Header />
      <main class="flex-1 border-y-2 sm:border-y-0 border-primary-blue">
        <article
          class="w-full max-w-5xl bg-primary-gray mx-auto my-[2px] md:my-10 py-5 px-3 sm:p-5 md:rounded-sm sm:shadow-2xl"
        >
          <h1 class="text-4xl font-bold mb-4 text-stone-700">{title}</h1>
          <slot />
        </article>
      </main>
      <Footer />
    </div>
  </body>
</html>
